<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<form method="post" style="max-width:600px;" th:object="${setlist}">
    <div class="form-group">
        <label th:for="venue">Venue</label>
        <input class="form-control" th:field="*{venue}" th:value="${venue}"/>
        <span th:errors="*{venue}" class="error"></span>
        <label th:for="month">Month</label>
        <input class="form-control" th:field="*{month}" th:value="${month}"/>
        <span th:errors="*{month}" class="error"></span>
        <label th:for="day">Day</label>
        <input class="form-control" th:field="*{day}" th:value="${day}"/>
        <span th:errors="*{day}" class="error"></span>
        <label th:for="year">Year</label>
        <input class="form-control" th:field="*{year}" th:value="${year}"/>
        <span th:errors="*{year}" class="error"></span>


    </div>


    <input type="submit" value="Add Setlist" />
</form>

</body>
</html>