<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<nav th:replace="fragments :: navigation"></nav>
<body class="container">

<h1 th:text="${title}">Default Title</h1>


<div class="container-fluid">
<div class="row">
    <div class="col-sm-6">
        <form method="post">
                <h1>Available Songs</h1>
                    <th:block th:each="song : ${songs}">
                        <input type="checkbox" name="songs" th:value="${song.id}">
                        <label th:text="${song.name + ' - ' + song.totalTime}"></label>
                        <br>
                    </th:block>
            <button class="btn btn-large btn-primary" type="submit">Add Songs to Setlist</button>
        </form>
        </div>

    <div class="col-sm-6">

        <form method="post">
            <h1>Current Setlist</h1>
                            <th:block th:each="setlistSong : ${setlistSongs}">
                                <input type="checkbox" name="deletedSongs" th:value="${setlistSong.id}">
                                <label th:text="${setlistSong.name + ' - ' + setlistSong.totalTime}"></label>
                                <br>
                            </th:block>
            <button class="btn btn-large btn-primary" type="submit">Remove Songs From Setlist</button>
        </form>
    </div>
</div>
</div>

</body>
</html>