<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container-fluid bg text-light">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<h1 th:text="${setlist.venue}"></h1>
<h2 th:text="${date}"></h2>

<table>
    <tr>
        <td> <th:block th:each="song,iter : ${songs}"><br><a th:href="@{'/setlist/reorder/' + ${setlist.id} + '/' + ${song.id} + '/up'}" th:unless="${iter.first}">Up</a><div th:text="${song.name + ' - ' + song.TotalTime}"></div> <a th:href="@{'/setlist/reorder/' + ${setlist.id} + '/' + ${song.id} + '/down'}" th:unless="${iter.last}">Down</a><br></th:block> </td></tr><nobr>
</table>
<h2 th:text="${'Total time: ' + time}"></h2>
</body>
</html>