<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<h1 th:text="${setlist.venue}"></h1>
<h2 th:text="${date}"></h2>

<table>
    <tr>
        <td> <th:block th:each="song : ${songs}"><p th:text="${song.name + ' - ' + song.minutes + ':' + song.seconds}"></p><br></th:block> </td></tr>
</table>
<h2 th:text="${'Total time: ' + time}"></h2>
</body>
</html>