body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url('../images/setlistbackground.png');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

