<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Setlist</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/backgroundimage.css">

</head>
<body>

<nav th:fragment="navigation">
    <a class="text-info" href="/home">Home</a> |
    <a class="text-info" href="/setlist/add">Add Setlist</a> |
    <a class="text-info" href="/song/add">Add Song</a> |
    <a class="text-info" href="/category/add">Add Category</a>  |
    <a class="text-info" href="/logout">Logout </a>
</nav>

</body>
</html>