<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container-fluid bg text-light">
<nav>
    <a class="text-info" href="/home">Home</a> |
    <a class="text-info" href="/setlist/add">Add Setlist</a> |
    <a class="text-info" href="/song/add">Add Song</a> |
    <a class="text-info" href="/category/add">Add Category</a>  |
</nav>
<div class="container">
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 class="form-signin-heading" th:text="Welcome"></h3>
        <br/>
        <h4>Password was successfully reset!</h4>
        <input type="text" id="email" name="email"  th:placeholder="Email"
               class="form-control" /> <br/>
        <input type="password"  th:placeholder="Password"
               id="password" name="password" class="form-control" /><br /><a href="/forgot-password">Forgot Password?</a>
        <br />
        <br />

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
    </form>
    <p>Don't have an account? <a class="text-info" href="/registration">Create one!</a></p>
</div>
</body>
</html>

